# Ignore egg and egg-info directories and files
*.egg
*.egg-info/

# Ignore Python cache files and directories
__pycache__/
*.pyc

# Ignore all files and subdirectories in the microscopes folder
microscopes/*
!microscopes/